@import "../fonts/fonts.css";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

.container {
  width: 90%;
  margin: 0 auto;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 44px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 10;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container nav {
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container nav .collections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .container nav .collections li {
  margin-right: 33px;
}
header .container nav .collections li a {
  height: 15px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  color: #83888F;
}
header .container nav .collections li:last-child {
  margin-right: 0;
}
header .container nav .collections li:hover a {
  height: 15px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  color: #333D4B;
}
header .container nav i {
  font-size: 30px;
  display: none;
}

@media only screen and (max-width: 686px) {
  header .container .logo {
    width: 20%;
  }
  header .container nav {
    width: 80%;
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  header .container nav .collections li {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 556px) {
  header .container .logo {
    margin-right: 10px;
  }
  header .container nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin-right: 0;
  }
  header .container nav i {
    position: absolute;
    display: block;
    right: 0;
  }
  header .container nav .collections {
    display: none;
  }
  header .container nav .collections li {
    margin-right: 20px;
  }
}
.intro {
  width: 100%;
  margin-bottom: 168px;
}
.intro .container {
  background-image: url("../img/about_bg.png");
  padding-top: 117px;
  padding-left: 5%;
  border-radius: 12px;
  background-size: cover;
  background-position: right;
  padding-bottom: 137px;
}
.intro .container h1 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  color: #FEFCF7;
  margin-bottom: 24px;
}
.intro .container p {
  width: 445px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FEFCF7;
}

@media only screen and (max-width: 769px) {
  .intro {
    margin-bottom: 144px;
  }
  .intro .container {
    width: 90%;
    padding-top: 104px;
    background-position: right, right;
    z-index: -10;
  }
  .intro .container h1 {
    font-size: 32px;
  }
  .intro .container p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 542px) {
  .intro {
    width: 100%;
    margin-bottom: 120px;
  }
  .intro .container {
    width: 90%;
    padding-left: 0;
    position: relative;
  }
  .intro .container .intro_content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .intro .container h1 {
    width: 279px;
    font-size: 28px;
    text-align: center;
  }
  .intro .container p {
    width: 279px;
    font-size: 15px;
    text-align: center;
  }
}
.commitment {
  width: 100%;
  margin-bottom: 144px;
}
.commitment .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.commitment .container .commitment_content {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.commitment .container .commitment_content img {
  width: 40%;
  height: 100%;
  margin-right: 10%;
  border-radius: 8px;
}
.commitment .container .commitment_content .commitment_content_texts {
  width: 42%;
}
.commitment .container .commitment_content .commitment_content_texts h2 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  color: #333D4B;
}
.commitment .container .commitment_content .commitment_content_texts p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #333D4B;
}

@media only screen and (max-width: 769px) {
  .commitment {
    margin-bottom: 300px;
  }
  .commitment .container .commitment_content {
    width: 100%;
  }
  .commitment .container .commitment_content .commitment_content_texts {
    width: 50%;
  }
  .commitment .container .commitment_content .commitment_content_texts h2 {
    width: 100%;
    font-size: 32px;
  }
  .commitment .container .commitment_content .commitment_content_texts p {
    width: 100%;
    font-size: 15px;
  }
}
@media only screen and (max-width: 570px) {
  .commitment .container .commitment_content {
    width: 100%;
  }
  .commitment .container .commitment_content img {
    width: 100%;
    height: 400px;
    margin-bottom: 48px;
    margin-right: 0;
  }
  .commitment .container .commitment_content .commitment_content_texts {
    width: 100%;
  }
  .commitment .container .commitment_content .commitment_content_texts h2 {
    font-size: 32px;
    width: 100%;
    text-align: center;
  }
  .commitment .container .commitment_content .commitment_content_texts p {
    width: 100%;
    text-align: center;
    font-size: 15px;
  }
}
.quality {
  width: 100%;
  margin-bottom: -100px;
}
.quality .container {
  background: #2C343E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 10px;
}
.quality .container .quality_content {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-top: 88px;
}
.quality .container .quality_content .quality_content_texts {
  width: 40%;
  margin-bottom: 176px;
}
.quality .container .quality_content .quality_content_texts h2 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  color: #FEFCF7;
  margin-bottom: 32px;
}
.quality .container .quality_content .quality_content_texts p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
}
.quality .container .quality_content img {
  position: absolute;
  height: 95%;
  width: 45%;
  border-radius: 8px;
  right: 0;
  top: -10%;
}

@media only screen and (max-width: 769px) {
  .quality {
    margin-bottom: 100px;
  }
  .quality .container {
    background: #2C343E;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-radius: 10px;
  }
  .quality .container .quality_content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    padding-top: 200px;
  }
  .quality .container .quality_content .quality_content_texts {
    width: 90%;
    margin-bottom: 176px;
  }
  .quality .container .quality_content .quality_content_texts h2 {
    width: 100%;
    text-align: center;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    color: #FEFCF7;
    margin-bottom: 32px;
  }
  .quality .container .quality_content .quality_content_texts p {
    text-align: center;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #FEFCF7;
  }
  .quality .container .quality_content img {
    position: absolute;
    height: 60%;
    width: 90%;
    border-radius: 8px;
    left: 5%;
    top: -40%;
  }
}
@media only screen and (max-width: 430px) {
  .quality {
    border: 1px solid;
  }
  .quality .container .quality_content .quality_content_texts {
    width: 90%;
    margin-bottom: 176px;
  }
  .quality .container .quality_content .quality_content_texts h2 {
    font-size: 28px;
  }
  .quality .container .quality_content .quality_content_texts p {
    font-size: 15px;
  }
  .quality .container .quality_content img {
    position: absolute;
    height: 40%;
    width: 90%;
    border-radius: 8px;
    left: 5%;
    top: -20%;
  }
}
.works {
  width: 100%;
  height: auto;
  margin-bottom: 200px;
}
.works .container .works_title {
  width: 100%;
  text-align: start;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-bottom: 80px;
}
.works .container .works_cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.works .container .works_cards .works_cards_card {
  width: 23%;
  height: 375px;
  border-radius: 0px;
  margin-right: 95px;
}
.works .container .works_cards .works_cards_card .works_cards_card_title {
  margin-bottom: 45px;
  width: 100%;
}
.works .container .works_cards .works_cards_card .works_cards_card_text {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  color: #333D4B;
}
.works .container .works_cards .works_cards_card .p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #333D4B;
}
.works .container .works_cards .works_cards_card:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 1938px) {
  .works {
    margin-top: 300px;
  }
}
@media only screen and (max-width: 770px) {
  .works .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .works .container .works_cards {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .works .container .works_cards .works_cards_card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 200px;
    height: auto;
    margin-right: 5px;
    margin-bottom: 56px;
  }
  .works .container .works_cards .works_cards_card .works_cards_card_text {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    color: #333D4B;
  }
  .works .container .works_cards .works_cards_card .p {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #333D4B;
  }
  .works .container .works_cards .works_cards_card .p p {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 430px) {
  .works {
    height: auto;
  }
  .works .container .works_title {
    width: 100%;
    text-align: center;
  }
  .works .container .works_cards .works_cards_card .works_cards_card_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .works .container .works_cards .works_cards_card .works_cards_card_text {
    text-align: center;
    font-size: 24px;
  }
}
.footer {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 44px;
  position: relative;
  top: 0;
  left: 0;
  background-color: #2C343E;
  z-index: 10;
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .container nav {
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .container nav .collections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .container nav .collections li {
  margin-right: 33px;
}
.footer .container nav .collections li a {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}
.footer .container nav .collections li:last-child {
  margin-right: 0;
}
.footer .container nav .collections li:hover a {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height, or 125% */
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #FEFCF7;
}
.footer .container .icons {
  position: absolute;
  right: 0;
  width: 20%;
  font-size: 24px;
  color: #83888F;
}
.footer .container .icons a {
  color: #83888F;
}
.footer .container .icons .bi-facebook {
  margin-right: 24px;
}
.footer .container .icons .bi-facebook:hover {
  color: #1877F2;
  font-size: 30px;
}
.footer .container .icons .bi-twitter {
  margin-right: 24px;
}
.footer .container .icons .bi-twitter:hover {
  color: #1877F2;
  font-size: 30px;
}
.footer .container .icons .bi-instagram:hover {
  color: #F60593;
  font-size: 30px;
}

@media only screen and (max-width: 869px) {
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .container .logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 33px;
  }
  footer .container .logo img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .container nav {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 65px;
    padding-left: 0;
  }
  footer .container .icons {
    position: relative;
    bottom: 0;
    left: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media only screen and (max-width: 506px) {
  .footer {
    width: 100%;
  }
  .footer .container {
    width: 100%;
  }
  .footer .container nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100vw;
    margin: 0;
  }
  .footer .container nav .collections {
    display: block;
    width: 90%;
  }
  .footer .container nav .collections li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 24px;
    width: 100%;
  }
}