*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
.container{
    width: 90%;
    margin: 0 auto;
}

@import "../fonts/fonts.css";
@import "header";
@import "intro";
@import "commitment";
@import "quality";
@import "works";
@import "footer";
